Actividad - Estadística básica

*   Nombre: José Eduardo Díaz Maldonado
*   Matrícula: A01735676

Carga el conjunto de datos insurance.csv (se encuentra en el repositorio de la clase) y realiza un análisis estadístico de las variables.

Carga las librerias necesarias

In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
%cd /gdrive/MyDrive/tc1002S/

/gdrive/MyDrive/tc1002S

Carga el conjunto de datos al ambiente de Google Colab y muestra los primeros 6 renglones

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving insurance.csv to insurance (1).csv
User uploaded file "insurance.csv" with length 54289 bytes

In [ ]:
df = pd.read_csv('insurance.csv')
df.head(6)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160

El conjunto de datos contiene información demográfica sobre los asegurados en una compañía de seguros:

*   **age**: Edad del asegurado principal
*   **sex**: Género del asegurado. female o male
*   **bmi**: Índice de masa corporal
*   **children**: Número de hijos que estan cubiertos con la poliza.
*   **smoker**: ¿El beneficiario fuma? (yes/no)
*   **region**: ¿Dónde vive el beneficiario? Estos datos son de Estados Unidos. Regiones disponibles: northeast, southeast, southwest, northwest
*   **charges**: Costo del seguro.

Crea una tabla resumen con las estadísticas generales de las variables numéricas

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

¿Como se correlacionan las variables numéricas entre sí?

In [ ]:
df.corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

Determina si existe una correlación entre el índice de masa corporal (bmi) y el costo del seguro

In [ ]:
from scipy import stats 
from scipy.stats import pearsonr

In [ ]:
selected = df[['age','bmi','children','charges']]

In [ ]:
r, p = stats.pearsonr(selected['bmi'], selected['charges'])
print(f"Correlación Pearson: r={r}, p-value={p}")

Correlación Pearson: r=0.1983409688336288, p-value=2.459085535117846e-13

In [ ]:
if (p < 0.05):
    print('La hipótesis alterna se confirma')

else:
    print('La hipótesis nula se confirma')

La hipótesis alterna se confirma

¿Cuántas personas aseguradas son hombres y cuántas son mujeres?

In [ ]:
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

¿Cuántos hombres y mujeres aseguradas viven en cada región?

In [ ]:
pd.crosstab(df['sex'],df['region'])

region  northeast  northwest  southeast  southwest
sex
female        161        164        175        162
male          163        161        189        163

En promedio, ¿quién paga más de cuota de seguro? ¿Los fumadores o los no fumadores? Muéstralo con los datos

In [ ]:
df.groupby(['smoker']).mean()[['charges']]

             charges
smoker
no       8434.268298
yes     32050.231832

*- los fumadores pagan mucho más en cuotas de seguro que los que no fuman.*

¿Cuáles son las cuotas mínimas y máximas que las personas pagan dependiendo del género y del número de hijos?

In [ ]:
df.groupby(['sex','children']).agg(['min','max'])[['charges']]

                    charges
                        min          max
sex    children
female 0         1607.51010  63770.42801
       1         2201.09710  58571.07448
       2         2801.25880  47305.30500
       3         4234.92700  46661.44240
       4         4561.18850  36580.28216
       5         4687.79700  19023.26000
male   0         1121.87390  62592.87309
       1         1711.02680  51194.55914
       2         2304.00220  49577.66240
       3         3443.06400  60021.39897
       4         4504.66240  40182.24600
       5         4915.05985  14478.33015

¿Cual es el índice de masa corporal promedio para hombres y mujeres dependiendo región en la que viven y si son fumadores? ¿Impacta eso en la tarifa del seguro?

In [ ]:
df.groupby(['sex','smoker','region']).agg(['mean'])[['bmi']]

                               bmi
                              mean
sex    smoker region
female no     northeast  29.777462
              northwest  29.488704
              southeast  32.780000
              southwest  30.050355
       yes    northeast  27.261724
              northwest  28.296897
              southeast  32.251389
              southwest  30.128571
male   no     northeast  28.861760
              northwest  28.930379
              southeast  34.129552
              southwest  31.019841
       yes    northeast  29.560000
              northwest  29.983966
              southeast  33.650000
              southwest  31.502703